<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="System.Windows.Forms.Calendar.Properties.Settings.EMRDatabaseConnectionString"
            connectionString="Data Source=shifaaserver.database.windows.net;Initial Catalog=EMRDatabase;Persist Security Info=True;User ID=shifaaAdmin"
            providerName="System.Data.SqlClient" />
      
      
    </connectionStrings>
</configuration>