<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Shifaa_EMR_System.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=DESKTOP-HOE3NSI\MSSQLSERVER01;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>